<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">CPL190 / 290</h1>
		<div class="content"><p class="gt-block"><strong>适用于苛刻应用的高分辨率电容式传感器。</strong></p>
<h5><span style="color: #005aa4;"><strong>高精度，高速度测量</strong></span></h5>
<h6><span style="color: #005aa4;"><strong>主要优点:<br>
</strong></span></h6>
<ul>
<li>方便的输出接口和量程选择</li>
<li>可用的测量范围：10 µm至12.5 mm</li>
<li>可切换的双量程/灵敏度（仅CPL290）</li>
<li>±10 V输出</li>
<li>通过68-Pin连接器轻松实现National Instruments DAQ连接</li>
<li>可视的范围指示器</li>
<li>粗/细调零</li>
<li>调零禁用</li>
<li>单通道或多通道机箱</li>
<li>前面板接地</li>
<li>可以订购标准探头 <span style="color: #005aa4;"><a href="/" style="color: #005aa4;">真空兼容</a></span>.</li>
<li>小相移–非常适合伺服应用</li>
</ul>
<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
<p>典型规格。 分辨率和线性度取决于探头类型，量程范围和带宽。 有关详细信息，请参见探头和量程列表。</p>
<ul>
<li><span style="color: #005aa4;">典型 <a href="/" style="color: #005aa4;"><u>分辨率</u></a>:</span> 0.003％@ 15 kHz | 0.0005％@ 100 Hz
<ul>
<li>0.003％@ 15 kHz典型值（低至0.25纳米）</li>
<li>0.0005％@ 100 Hz（低至0.05纳米）</li>
<li>取决于探头/量程，请参见手册中的探头和量程列表</li>
</ul>
</li>
<li><span style="color: #005aa4;"><a href="/"><u><span style="color: #005aa4;">带宽</span></u></a> （-3dB）（PCB拨码开关/用户可选）：</span> 15 kHz，10 kHz，1 kHz，100 Hz</li>
<li><span style="color: #005aa4;">测量范围：</span>  10 µm至12.5 mm</li>
<li><span style="color: #005aa4;">一般线性度：</span> 0.2％FS</li>
<li><span style="color: #005aa4;">最大漂移：</span> 0.04％FS /°C</li>
<li><span style="color: #005aa4;">BNC输出电压：</span> ±10 V，0欧姆，15 mA最大</li>
<li><span style="color: #005aa4;">后面板National Instruments接口连接器输出电压：</span> 差分±10 V</li>
<li><span style="color: #005aa4;">工作温度：</span> 4-50°C</li>
<li><span style="color: #005aa4;">零位/偏移调整：</span>  可以</li>
<li><span style="color: #005aa4;">典型的热漂移：</span>  0.02％FS /°C</li>
</ul>
</div>
<br>
<p>
  欲了解更多详细信息，请联系我们:<b style="color: blue;">SaintBayAuto@hotmail.com</b>
  <b style="color: blue;">或致电15701557738</b>
</p>
	</div>
