<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">CPL350</h1>
		<div class="content"><p class="gt-block"><strong>高分辨率，免调整的电容式传感器，非常适合OEM应用或其他嵌入式系统。</strong></p>
<h6><span style="color: #005aa4;"><strong>高精度，高速度测量</strong></span></h6>
<ul>
<li>方便的输出接口和量程选择</li>
<li>可用的测量范围：10 µm至12.5 mm</li>
<li>±10 V差分输出，具有最高的精度和抗扰度</li>
<li>±10 V单端BNC输出，可快速轻松连接</li>
<li>电源通过单独的电源连接器连接或通过差分模拟输出连接</li>
<li>单通道</li>
<li>体积小巧</li>
<li>接地连接点</li>
<li>可以订购标准探头 <span style="color: #005aa4;"><a href="https://www.lionprecision.com/zh-CN/capacitive-sensors-in-vacuum/" style="color: #005aa4;">真空兼容</a></span></li>
<li>小相移–非常适合伺服应用</li>
</ul>
<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
<p>典型规格。 分辨率和线性度取决于探头类型，量程范围和带宽。 有关详细信息，请参见探头和量程列表。</p>
<ul>
<li><span style="color: #005aa4;">典型 <a href="https://www.lionprecision.com/zh-CN/definition-resolution/" style="color: #005aa4;"><u>分辨率</u></a>:</span> 0.004％@ 15 kHz | 0.0007％@ 100 Hz
<ul>
<li>0.004％@ 15 kHz典型值（低至0.70纳米）</li>
<li>0.0007％@ 100 Hz（低至0.08纳米）</li>
<li>分辨率取决于探头/量程，请参见手册中的探头和量程列表</li>
</ul>
</li>
<li><span style="color: #005aa4;"><a href="https://www.lionprecision.com/zh-CN/definition-bandwidth/"><u><span style="color: #005aa4;">带宽</span></u></a> （-3db）（PCB拨码开关/用户可选）：</span> 15 kHz，10 kHz，1 kHz，100 Hz</li>
<li><span style="color: #005aa4;">测量范围： </span> 10 µm至12.5 mm</li>
<li><span style="color: #005aa4;">一般线性度：</span> 0.5％FS</li>
<li><span style="color: #005aa4;">探头热稳定性：</span> 最高0.04％FS /°C</li>
<li><span style="color: #005aa4;">差分输出（DB9）：</span> ±10 V，0欧姆，15 mA最大</li>
<li><span style="color: #005aa4;">单端BNC输出：</span> ±10 V，0欧姆，15 mA最大</li>
<li><span style="color: #005aa4;">工作温度：</span> 4-50°C</li>
<li><span style="color: #005aa4;">输入功率：</span> ±15 VDC @ 95 mA ea</li>
<li><span style="color: #005aa4;">零位/偏移调整：</span>  没有</li>
<li><span style="color: #005aa4;">典型的热漂移：</span>  0.04％FS /°C</li>
</ul>
</div>
	</div>
