<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">CPL490</h1>
		<div class="content"><p class="gt-block"><strong><span style="color: #000000;">极高的分辨率，高速测量，电容式传感器，可实现极高的精度。</span></strong></p>
<h5><span style="color: #005aa4;"><strong>超高精度，超高速测量</strong></span></h5>
<h6><span style="color: #005aa4;"><strong>主要优点: </strong></span></h6>
<ul>
<li>方便的输出接口和量程选择</li>
<li>可用的测量范围：10，50，100 µm（0.4，2，4 mils）</li>
<li>±10 V输出</li>
<li>通过68-Pin连接器轻松实现National Instruments DAQ连接</li>
<li>可视的范围指示器</li>
<li>可调零</li>
<li>调零禁用</li>
<li>单通道或多通道机箱</li>
<li>前面板接地</li>
<li>小相移–非常适合伺服应用</li>
<li>第2nd代探头，可提供最佳性能</li>
</ul>
<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
<p>典型规格。 分辨率和线性度取决于探头类型，量程范围和带宽。 有关详细信息，请参见探头和量程列表。</p>
<ul>
<li><span style="color: #005aa4;"><a href="/" target="_blank" style="color: #005aa4;" rel="noopener noreferrer">典型 <u>分辨率</u></a></span> @15 kHz：0.0007％FS rms
<ul>
<li>0.002％@ 50 kHz典型值（低至260皮克）</li>
<li>0.0007％@ 15 kHz典型值（低至90皮克）</li>
<li>0.0004％@ 1 kHz典型值（低至50皮克）</li>
<li>取决于探头/量程，请参见手册中的量程/分辨率列表</li>
</ul>
</li>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;"><u>带宽</u></a></span> （-3dB）（PCB拨码开关/用户可选）：50 kHz，15 kHz，10 kHz，100 Hz</li>
<li><span style="color: #005aa4;">测量范围：</span>  10 – 200 µm</li>
<li><span style="color: #005aa4;">线性度：</span> 0.2％FS</li>
<li><span style="color: #005aa4;">误差带：</span> 0.3％FS</li>
<li><span style="color: #005aa4;">最大漂移，典型值</span>：0.04％FS /°C</li>
<li><span style="color: #005aa4;">BNC输出电压：</span> ±10 V</li>
<li><span style="color: #005aa4;">BNC输出阻抗：</span> 0欧姆，最大15 mA</li>
<li><span style="color: #005aa4;">后面板National Instruments接口连接器输出电压：</span> 差分±10 V</li>
<li><span style="color: #005aa4;">工作温度：</span> 15-40°C</li>
<li><span style="color: #005aa4;">多通道操作：</span> 最多3个通道 <a href="/"><span style="color: #005aa4;">联系我们</span></a> 如果需要更多通道</li>
<li><span style="color: #005aa4;">零位/偏移调整：</span>  可以</li>
<li><span style="color: #005aa4;">典型的热漂移：</span>  0.02％FS /°C</li>
</ul>
</div>
	</div>
