<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">CPL590</h1>
		<div class="content"><p>Lion Precision的最新电容技术。 高分辨率，高速，数字电容式传感器现在已安装在2U高度外壳中，具有极高的精度。 该平台允许模拟和数字输出。 数字平台极大地改善了线性度和稳定性。 通过提供多达4个独立的校准量程，它为一个探头提供了更大的测量范围。 </p>
<h6><span style="color: #005aa4;"><strong>主要优点: </strong></span></h6>
<ul>
<li>数字输出</li>
<li>USB，SPI和EtherCAT</li>
<li>2U小</li>
<li>最多可达4个量程，针对1个探头</li>
<li>最佳线性度</li>
<li>更高的稳定性</li>
<li>数字调整</li>
<li>可视的范围指示器</li>
<li>可调零</li>
<li>调零禁用</li>
<li>单通道或多通道机箱</li>
</ul>
<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
<p>典型规格。 分辨率和线性度取决于探头类型，量程范围和带宽。 有关详细信息，请参见探头和量程列表。</p>
<ul>
<li><span style="color: #005aa4;"><a href="/" target="_blank" style="color: #005aa4;" rel="noopener noreferrer">典型 <u>分辨率</u></a></span>
<ul>
<li>0.0005％@ 100 Hz（低至140皮克）</li>
<li>0.003％@ 15 kHz典型值（低至700皮克）</li>
<li>取决于探头/量程，请参见手册中的量程/分辨率列表</li>
</ul>
</li>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;"><u>带宽</u></a> （用户可选）：</span> 100 Hz，1 kHz，10 kHz，15 kHz</li>
<li><span style="color: #005aa4;">测量范围：</span>  10 – 12500 µm</li>
<li><span style="color: #005aa4;">线性度：</span> &lt;0.1％FS典型值</li>
<li><span style="color: #005aa4;">最大漂移，典型值：</span> 0.04％FS /°C</li>
<li><span style="color: #005aa4;">BNC输出电压：</span> ±10 V</li>
<li><span style="color: #005aa4;">BNC输出阻抗：</span> 0欧姆，最大10 mA</li>
<li><span style="color: #005aa4;">工作温度：</span> 4-50°C</li>
<li><span style="color: #005aa4;">零位/偏移调整：</span>  可以</li>
<li><span style="color: #005aa4;">典型的热漂移：</span>  0.04％FS /°C</li>
</ul>
</div>
	</div>
