<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">空气轴承C-LVDT（电容LVDT）</h1>
		<div class="content"><p class="gt-block"><strong><span style="color: #333333;">使电容传感器适应高性能，类似于LVDT的接触测量系统。</span></strong></p>
<ul>
<li>同等高性能相比<span> </span><a href="/">电容式传感器</a></li>
<li>无摩擦空气轴承设计</li>
<li>最小的侧面负荷效应</li>
<li>可调的压力低至0.2 g</li>
<li>可在恶劣的环境中工作</li>
<li>可伸缩的前端部</li>
<li>可更换的钻石尖</li>
<li>需要电容传感器系统（<a href="/"><span style="color: #005aa4;">精英系列</span></a>,<span> </span><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">CPL230</a></span>,  或<span> </span><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">紧凑型驱动器</a></span>)</li>
</ul>
<p class="gt-block"><strong>生命周期状态：<span> </span></strong><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">Active</a></span></p>
<p class="gt-block">详情如下：<br>
<span style="color: #005aa4;"><a href="#Specs" style="color: #005aa4;">产品参数</a></span><span> </span>|<span> </span><a href="#Construction"><span style="color: #005aa4;">空气轴承设计</span><span> </span></a>|<span> </span><span style="color: #005aa4;"><a href="#Mechanical" style="color: #005aa4;">机械</a></span></p>
<h6><span style="color: #005aa4;"><strong><a id="Specs"></a>C-LVDT规格</strong></span></h6>
<ul>
<li style="list-style-type: none;">
<ul>
<li style="list-style-type: none;">
<ul class="gt-block listing-spec3" data-gt-block="">
<li><span style="color: #005aa4;">测量范围： <span style="color: #333333;">0.5mm | 0.020”</span></span></li>
<li><span style="color: #005aa4;">接触力： <span style="color: #333333;"><span>0.2 g至100 g</span></span></span></li>
<li><span style="color: #005aa4;">径向刚度： <span style="color: #333333;">&lt;0.25 µm / g</span></span></li>
<li><span style="color: #005aa4;">轴承：<span style="color: #333333;"> 线性，多孔空气轴承</span></span></li>
<li><span style="color: #005aa4;">钻石尖端： <span style="color: #333333;"><span>半径：3.175毫米| </span><span>0.125” | </span><span>安装：4-48AGD螺纹</span></span></span></li>
<li><span style="color: #005aa4;">移动质量： <span style="color: #333333;"><span>5.55 g轴，1.35 g尖端，6.9 g总计</span></span></span></li>
<li><span style="color: #005aa4;">空气连接： <span style="color: #333333;"><span>1 / 16″ ID挠性管</span></span></span></li>
<li><span style="color: #005aa4;">空气消耗量 <span style="color: #333333;"><span>3-7 lpm | </span><span>0.10-0.25 cfm</span></span></span></li>
<li><span style="color: #005aa4;">工作气压： <span style="color: #333333;"><span>420-480 kPa | </span><span>60-70 psi</span></span></span></li>
<li><span style="color: #005aa4;">空气过滤器要求： <span style="color: #333333;"><span>5 µm粒度</span></span></span></li>
</ul>
</li>
</ul>
</li>
</ul>
<h5><span style="color: #005aa4;"><strong><img src="https://www.lionprecision.com/wp-content/uploads/2019/09/p-lvdt-cutaway.gif" alt="" width="265" height="347" class="size-full wp-image-8317 alignright" srcset="https://www.lionprecision.com/wp-content/uploads/2019/09/p-lvdt-cutaway.gif 265w, https://www.lionprecision.com/wp-content/uploads/2019/09/p-lvdt-cutaway-229x300.gif 229w" sizes="(max-width: 265px) 100vw, 265px"><span style="color: #005aa4;"><a id="Construction"></a>C-LVDT空气轴承结构</span></strong></span></h5>
<p>C-LVDT的空气轴承是提供难以置信的高分辨率接触测量的关键。</p>
<p>多孔碳轴承使空气流过探针的柱塞。 气垫提供无摩擦的运动和径向刚度，可在接触检测运动目标时最大程度地减小侧向载荷的影响。</p>
<h6><span style="color: #005aa4;"><strong>钻石尖端</strong></span></h6>
<p>每台Lion Precision C-LVDT都配有可互换的钻石尖端。 C-LVDT执行的高精度测量需要最高质量的接触界面。</p>
<h6><span style="color: #005aa4;"><strong>钻石优于红宝石：</strong></span></h6>
<blockquote>
<p class="gt-block"><strong>低摩擦</strong>——侧向力可减小运动目标的横向偏斜，并减小反向方向的迟滞。</p>
<p class="gt-block"><strong>高度抛光的表面</strong>——钻石接受并保持高抛光度，最大程度地减少了刮擦被测表面的可能性。</p>
<p class="gt-block"><strong>最小的磨损</strong>——提高准确性并延长使用寿命。</p>
</blockquote>
<h5><span style="color: #005aa4;"><strong><a id="Mechanical"></a>C-LVDT机械轮廓</strong></span></h5>
<p><img src="https://www.lionprecision.com/wp-content/uploads/2019/09/p-lvdt-outline.gif" alt="" width="369" height="450" class="alignleft size-full wp-image-8323" srcset="https://www.lionprecision.com/wp-content/uploads/2019/09/p-lvdt-outline.gif 369w, https://www.lionprecision.com/wp-content/uploads/2019/09/p-lvdt-outline-246x300.gif 246w" sizes="(max-width: 369px) 100vw, 369px"></p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
</div>
	</div>
