<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">ECL150</h1>
		<div class="content"><p class="gt-block"><strong>小型封装中多达8个通道的高性能位移传感。</strong></p>
<h5><span style="color: #005aa4;"><strong>精密性能</strong></span></h5>
<h6><span style="color: #005aa4;"><strong>主要优点:<br>
</strong></span></h6>
<ul>
<li>嵌入式应用的紧凑型解决方案</li>
<li>1-8通道</li>
<li>小批量包装</li>
<li>低功率/热</li>
<li>范围指示LED灯</li>
<li>可以订购探头 <span style="color: #005aa4;"><a href="/" style="color: #005aa4;">真空兼容</a></span></li>
<li>可以无外壳</li>
<li>符合CE标准</li>
</ul>
<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
<p>标准靶标和探头的典型规格。 实际值取决于探头，被测目标和校准。 规格要求目标区域至少是探头直径的三倍。</p>
<ul>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">分辨率</a>:</span> RMS，典型值取决于探头和量程。
<ul>
<li>ECL150：0.006％RMS（有色金属）| 0.008％RMS（有色）</li>
<li>ECL150e：0.4 µm或0.006％RMS（有色金属）中的较大者| 0.008％RMS（有色）</li>
</ul>
</li>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;"><u>带宽</u></a> （可选）（kHz）：</span> 0.25，1，10，15</li>
<li><span style="color: #005aa4;">测量范围：</span> 0.50 mm至15.0 mm</li>
<li><span style="color: #005aa4;">线性度：</span> 0.2％</li>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">误差带</a>:</span> 0.4％</li>
<li><span style="color: #005aa4;">驱动器温度漂移（15°C-50°C）：</span>
<ul>
<li>有色金属：0.01％FS /°C</li>
<li>含铁金属：0.01％FS /°C</li>
</ul>
</li>
<li><span style="color: #005aa4;">探头温度漂移（15°C-65°C）：</span>
<ul>
<li>有色金属：0.01％FS /°C</li>
<li>含铁金属：0.01％FS /°C</li>
</ul>
</li>
<li><span style="color: #005aa4;">模拟输出：</span> ±5 VDC，0Ω，15 mA</li>
<li><span style="color: #005aa4;">输入功率：</span> 12到24 VDC | 1-2通道– 2.5 W | 3-4通道– 3.5 W | 5-6通道– 4.5 W | 7-8通道– 5.5 W</li>
<li><span style="color: #005aa4;">驱动程序操作环境：</span> 4°C-50°C IP64</li>
<li><span style="color: #005aa4;">探头工作温度：</span> 标准探头随附有PUR（聚氨酯）护套电缆。 高温探头带有FEP护套。 其他温度范围也是可能的。 想要查询更多的信息。 标准探头：IP67高温探头：IP63
<ul>
<li>U3探头：标准探头（PUR电缆）：-25°C 到+ 125°C（通过可选的FEP电缆提供）| 高温版本不可用。</li>
<li>U5-18探头：标准探头：-25°C 到+ 125°C | 高温探头：-25°C至+ 200°C</li>
<li>U25-50探头：标准探头：-25°C 到+ 125°C | 高温探头：-25°C至+ 175°C</li>
</ul>
</li>
<li><span style="color: #005aa4;">零位/偏移调整： </span> 没有</li>
</ul>
</div>
<br>
<p>
  欲了解更多详细信息，请联系我们:<b style="color: blue;">SaintBayAuto@hotmail.com</b>
  <b style="color: blue;">或致电15701557738</b>
</p>
	</div>
