<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">ECL101</h1>
		<div class="content"><p class="gt-block"><strong>高达80 kHz带宽的线性输出。 可以在现场校准。</strong></p>
<h6><strong><span style="color: #005aa4;">主要优点:<br>
</span></strong></h6>
<ul>
<li>使用简便</li>
<li>前面板可调零（偏移）</li>
<li>现场校准调整</li>
<li>范围指示LED灯</li>
<li>12-24 VDC电源</li>
<li>可以订购探头 <span style="color: #005aa4;"><a href="/" style="color: #005aa4;">真空兼容</a></span></li>
</ul>
<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
<p>标准靶标和探头的典型规格。 实际值取决于探头，被测目标和校准。 规格要求目标区域至少是探头直径的三倍。</p>
<ul>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">分辨率</a>:</span> RMS（典型值）
<ul>
<li>@15 kHz：有色金属 0.009％，含铁金属 0.011％</li>
<li>取决于探头和量程</li>
</ul>
</li>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">带宽</a> （出厂设置）：</span> 1 kHz | 10 kHz | 80 kHz</li>
<li><span style="color: #005aa4;">测量范围：</span> 0.50 mm至15.0 mm</li>
<li><span style="color: #005aa4;">线性度：</span> 0.50％</li>
<li><span style="color: #005aa4;">探头在（15°C-65°C）范围内的温度漂移：</span> 0.04％的范围/°C</li>
<li><span style="color: #005aa4;">输出：</span> 0 10 VDC</li>
<li><span style="color: #005aa4;">输入功率：</span> 12-24 VDC | 130 VDC时的15 mA</li>
<li><span style="color: #005aa4;">工作温度：</span> 4°C-50℃下</li>
<li><span style="color: #005aa4;">探头操作环境：</span>
<ul>
<li>标准探头随附有PUR（聚氨酯）护套电缆。 高温探头带有FEP护套。 其他温度范围也是可能的。 标准探头：IP67 | 高温探头：IP63
<ul>
<li>U3探头：标准探头（PUR电缆）：-25°C 到+ 125°C（通过可选的FEP电缆提供）| 高温版本不可用</li>
<li>U5-18探头：标准探头：-25°C 到+ 125°C | 高温探头：-25°C至+ 200°C</li>
<li>U25-50探头：标准探头：-25°C 到+ 125°C | 高温探头：-25°C至+ 175°C</li>
</ul>
</li>
</ul>
</li>
<li><span style="color: #005aa4;">零位/偏移调整：</span>  旋拧</li>
</ul>
</div>
<br>
<p>
  欲了解更多详细信息，请联系我们:<b style="color: blue;">SaintBayAuto@hotmail.com</b>
  <b style="color: blue;">或致电15701557738</b>
</p>
	</div>
