<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">ECL202</h1>
		<div class="content"><p class="gt-block"><strong>此传感器可提供极高的精度，具有数字核心和按钮控件。</strong></p>
<h6><span style="color: #005aa4;"><strong>主要优点:<br>
</strong></span></h6>
<ul>
<li>测量范围 ：从0.25毫米到15毫米</li>
<li>行业标准 0-10 VDC输出</li>
<li>设定点触点输出</li>
<li>符合CE标准</li>
<li>多功能，有用的功能</li>
<li>探头可在潮湿，肮脏的环境中使用</li>
<li>按钮偏移</li>
<li>按钮开关阈值（设定点）</li>
<li>范围指示LED灯</li>
<li>远程偏移和阈值激活</li>
<li>用户可选的带宽/分辨率100 Hz，1 kHz，10 kHz，15 kHz（在'e'版本上不可用）</li>
<li>可以订购探头 <span style="color: #005aa4;"><a href="/" style="color: #005aa4;">真空兼容</a></span></li>
</ul>
<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
<p>标准靶标和探头的典型规格。 实际值取决于探头，被测目标和校准。 规格要求目标区域至少是探头直径的三倍。</p>
<ul>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">分辨率</a>:</span> RMS，典型值取决于探头和量程。
<ul>
<li>ECL202：
<ul>
<li>有色金属：15 kHz – 0.007％| 100 Hz – 0.002％</li>
<li>含铁金属：15 kHz – 0.009％| 100 Hz – 0.003％</li>
</ul>
</li>
<li>ECL202e：
<ul>
<li>详见量程表</li>
</ul>
</li>
</ul>
</li>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">带宽</a>:</span>
<ul>
<li>ECL202：可选：100 Hz | 1 kHz | 10 kHz | 15 kHz</li>
<li>ECL202e：15 kHz</li>
</ul>
</li>
<li><span style="color: #005aa4;">测量范围：</span> 0.25 mm至15.0 mm</li>
<li><span style="color: #005aa4;">线性度：</span> 0.2％</li>
<li><span style="color: #005aa4;"><a href="/" style="color: #005aa4;">误差带</a>:</span> 0.4％</li>
<li><span style="color: #005aa4;">驱动器温度漂移（15°C-50°C）：</span> 0.01％FS /°C</li>
<li><span style="color: #005aa4;">探头温度漂移（15°C-65°C，除非另有说明）：</span> 0.01％FS /°C</li>
<li><span style="color: #005aa4;">模拟输出：</span> 0-10 VDC，0Ω，15 mA</li>
<li><span style="color: #005aa4;">开关量输出</span> 30 VAC / 60 VDC / 100 mA</li>
<li><span style="color: #005aa4;">输入功率：</span> 15-24 VDC | 2.5 W</li>
<li><span style="color: #005aa4;">驱动程序操作环境：</span> 4°C – 50°C | IP40</li>
<li><span style="color: #005aa4;">探头操作环境：</span>
<ul>
<li>标准探头随附有PUR（聚氨酯）护套电缆。 高温探头带有FEP护套。 其他温度范围也是可能的。 标准探头：IP67 | 高温探头：IP63
<ul>
<li>U3探头：标准探头（PUR电缆）：-25°C 到+ 125°C（通过可选的FEP电缆提供）| 高温版本不可用</li>
<li>U5-18探头：标准探头：-25°C 到+ 125°C | 高温探头：-25°C至+ 200°C</li>
<li>U25-50探头：标准探头：-25°C 到+ 125°C | 高温探头：-25°C至+ 175°C</li>
</ul>
</li>
</ul>
</li>
<li><span style="color: #005aa4;">零位/偏移调整：</span>  按钮</li>
</ul>
</div>
<br>
<p>
  欲了解更多详细信息，请联系我们:<b style="color: blue;">SaintBayAuto@hotmail.com</b>
  <b style="color: blue;">或致电15701557738</b>
</p>
	</div>
