<div>
  <%= tag.img src:"../images/label大图.png", style: "width: 100%; height: 400px; margin-left:auto; margin-right:auto; display: block;" %>
</div>

<% if params[:locale] != "en"%>
  <%= render "label_chinese"%>
<% else %>
  <%= render "label_en"%>
<% end %>
