<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">LionEye2 –光电式传感器</h1>
		<div class="content"><p class="gt-block">简单，低成本的光学传感器，用于不透明的标签。 LionEye2仅适用于非透明标签。 如果您的机器上出现透明的标签，请尝试使用 <a href="/"><span>LRD6300</span></a>,  <a href="/"><span> LRD2100</span></a>  or  <a href="/"><span>LRD8200</span></a> 传感器。</p>
			<p>如果您不用于检测透明的标签，LionEye2光学传感器是我们为常规标签检测提供的操作简单，且具有价格竞争力的替代产品——具有Lion Precision客户服务和可靠性。 两键式界面使LionEye2灵活易用。</p>
			<h6><span style="color: #005aa4;"><strong>主要优点:<br></strong></span></h6>
			<ul>
			<li>手动调节按钮式示教</li>
			<li>可调控的明暗切换</li>
			<li>行业标准的NPN和PNP输出</li>
			<li>Lion Precision可靠性</li>
			<li>CE和RoHS合规</li>
			<li>30天保证。 如果传感器的性能不能比您的传感器更好，则可以将其退回。</li>
			<li>标签传感器中唯一带有 <span style="color: #005aa4;"><a href="/" style="color: #005aa4;">两年质保</a></span><span> </span></li>
			<li>通常当天发货</li>
			</ul>
			<h6><span style="color: #005aa4;"><strong>产品参数</strong></span></h6>
			<ul class="gt-block listing-spec" data-gt-block="">
			<li><span style="color: #005aa4;">技术：</span> 光电</li>
			<li><span style="color: #005aa4;">响应时间：</span> 50μs</li>
			<li><span style="color: #005aa4;">精度： </span>0.008”（0.2毫米）</li>
			<li><span style="color: #005aa4;">开关频率：</span> 10kHz</li>
			<li><span style="color: #005aa4;">工作温度：</span> 40°F-120°F | 4°C-50°C</li>
			<li><span style="color: #005aa4;">输出：</span> NPN，PNP集电极开路</li>
			<li><span style="color: #005aa4;">输入电压：</span> + 10-30 VDC</li>
			<li><span style="color: #005aa4;">通道间隙：</span>  2 mm / 0.12“</li>
			<li><span style="color: #005aa4;">灯条显示：</span>  没有</li>
			<li>需要M8，4引脚连接电缆：6200-0090</li>
			</ul>
		</div>

		<p>
		  欲了解更多详细信息，请联系我们:<b style="color: blue;">SaintBayAuto@hotmail.com</b>
		  <b style="color: blue;">或致电15701557738</b>
		</p>
</div>
