<div class="main col-7 col-sm-12 flex-grow-1">
		<h1 class="product-details-title">主轴检测分析仪（SCA)</h1>
		<div class="content"><p>SpindleCheck分析仪（SCA）根据ANSI / ASME，ISO和JIS标准来测量和分析主轴误差运动（动态和热）。 这些误差运动会在制造的工件中产生形状误差。 该分析技术在主轴性能是关键因素的非机床应用中也很有用。</p>
<p class="gt-block notranslate">制造零件的形状误差与主轴的误差运动成正比。  从<em>正确</em>  位置到加工刀具<em>实际</em> 接触工件位置的距离有多远？</p>
<p>SpindleCheck分析仪在工作速度下测量主轴或旋转轴的运动。 然后，它分析并报告降低零件质量的错误运动。 这些测量有助于故障排除，防止不必要的主轴重建（非常常见的情况），并提高零件质量和减少废品。</p>
<p class="gt-block"><span style="color: #005aa4;">该系统包括：</span></p>
<ul>
<li>高分辨率电容式位移传感器</li>
<li>精密的球形或圆柱形检测目标</li>
<li>坚固的传感器安装硬件</li>
<li>数据采集​​组件</li>
<li>误差运动分析专用软件</li>
</ul>
<h5><span style="color: #005aa4;"><strong>给您的主要好处</strong></span></h5>
<ul>
<li>预测并防止零件错误，例如：
<ul>
<li>表面光洁度</li>
<li>特征位置</li>
<li>圆度</li>
</ul>
</li>
<li>验收前对机床性能进行鉴定/测试</li>
<li>查找加工错误的根本原因</li>
</ul>
<p class="gt-block"><strong>查找并消除主轴误差运动源</strong></p>
<ul>
<li>非圆形轴承组件</li>
<li>轴承座未对准</li>
<li>轴承磨损</li>
<li>预紧力不当</li>
<li>结构振动</li>
<li>刚度不足</li>
<li>机床共振频率</li>
</ul>
<h6><span style="color: #005aa4;"><strong>国际标准要求的特定测量</strong></span></h6>
<ul>
<li><strong>同步</strong> 和 <strong>异步</strong> 测量
<ul>
<li>径向误差运动</li>
<li>轴向误差运动</li>
<li>倾斜误差运动</li>
<li>总指标器读数（TIR，跳动）</li>
</ul>
</li>
</ul>
<p class="gt-block">点击查看 <span style="color: #005aa4;"><a href="http://blog.aerotechmotioncontrol.com/2012/12/20/rotary-stage-terminology/" style="color: #005aa4;"> 旋转轴误差运动的精确描述</a>.</span></p>
<p class="gt-block"><strong>符合国际标准</strong></p>
<ul>
<li><strong>ANSI / ASME标准B5.54-2005</strong>，“数控加工中心性能评估方法”</li>
<li><strong>ANSI / ASME B5.57-1998</strong> “数控车削中心性能评估方法”</li>
<li><strong>ANSI / ASME B89.3.4-2010</strong>，“旋转轴，规定和测试方法”</li>
<li><strong>ISO230 3</strong>，机床3部分的测试规程，“热效应的测定”</li>
<li><strong>ISO230 7</strong>，机床7部分的测试规程，“旋转轴的几何精度”</li>
<li><strong>JIS B 6190-7</strong>，机床7部分的测试规程，“旋转轴的几何精度”</li>
</ul>
</div>
	</div>
